/* general styling */

*,
*:before *:after {
  box-sizing: boder-box;
}

html {
  font-family: monospace;
}

body {
  margin: 0px;
  background-color: aliceblue;
}

aside {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px;
  background-color: aliceblue;
  border-radius: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Xanh Mono", monospace;
}

::selection {
  background-color: cornflowerblue;
}

/* Layout */

.header {
  padding: 48px 16px;
  padding-top: 50px;
  text-align: center;
  background-color: cornflowerblue;
}

.main {
  padding: 16px;
  max-width: 800px;
  margin: 0 auto;
}

.nav-link + .nav-link {
  margin-left: 20px;
}

article ~ article {
  border-top: 2px solid black;
}

.main > * + * {
  margin-top: 48px;
}

.main > * {
  border-top: 2px solid grey;
}

.main > *:first-child {
  border-top: none;
}

.header > p::after {
  content: " 🕉️";
}

article > h2 {
  position: relative;
  margin-left: -10px;
}

main > article {
  position: relative;
  margin-left: 10px;
}

/* Links */

a:hover {
  color: chocolate;
}
a:active {
  color: yellow;
}

.nav-link {
  color: rgb(109, 70, 42);
}

.nav-link:hover {
  color: rgb(172, 84, 22);
}
.nav-link:active {
  color: yellow;
}

.exp-heading {
  display: inline;
}

.exp-period {
  display: inline;
}
